<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <nav>
      <div class="layar-dalam">
        <div class="logo">
          <a href=""><img src="asset/logo3.png" class="putih" /></a>
          <a href=""><img src="asset/logo2.png" class="hitam" /></a>
        </div>
        <div class="menu">
          <a href="#" class="tombol-menu">
            <span class="garis"></span>
            <span class="garis"></span>
            <span class="garis"></span>
          </a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="support">Support</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="team">Team</a></li>
            <li><a href="blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="layar-penuh">
      <header id="home">
        <div class="overlay"></div>
        <video autoplay muted loop>
          <source src="asset/Indonesia.mp4" type="video/mp4" />
        </video>
        <div class="intro">
          <h3>Visit Indonesia</h3>
          <p>
            "TravelPedia, sebuah blog wisata penuh inspirasi untuk mengajak Anda menjelajahi keindahan destinasi di Indonesia melalui panduan perjalanan, cerita petualangan, dan tips eksklusif."
          </p>
          <p>
            <a href="#aboutus" class="tombol">MORE INFO</a>
          </p>
        </div>
      </header>
      <main>
        <section id="aboutus">
          <div class="layar-dalam">
            <h3>About Us</h3>
            <p class="ringkasan">
              Jelajahi keindahan Indonesia dengan TravelPedia! Temukan inspirasi perjalanan melalui blog kami yang penuh cerita seru dan tips wisata. Ayo, wujudkan petualangan tak terlupakanmu bersama kami!
            </p>
            <div class="konten-isi">
              <p>
                TravelPedia adalah web yang menyajikan blog berkualitas tinggi tentang destinasi wisata di Indonesia. Temukan panduan perjalanan, cerita petualangan, dan tips eksklusif untuk memaksimalkan pengalaman liburan Anda. Jelajahi kekayaan alam, budaya, dan kuliner Indonesia melalui sudut pandang unik para penulis TravelPedia. Bergabunglah dengan komunitas kami dan raih inspirasi untuk petualangan selanjutnya!
              </p>
            </div>
          </div>
        </section>
        <footer id="contact">
          <div class="layar-dalam">
            <div class="info">
              <h5>Info</h5>
              <p>
                Halo! Kami berasal dari Universitas Tarumanagara, khususnya dari Fakultas Teknologi Informasi, dengan jurusan Teknik Informatika.
              </p>
            </div>
            <div class="contact">
              <h5>Contact</h5>
              <ul>
                <li><a href="mailto:nafisya.535220003@stu.untar.ac.id">Nafisya Seva NV</a></li>
                <li><a href="mailto:puspa.535220035@stu.untar.ac.id">Puspa Indah</a></li>
                <li><a href="mailto:khansa.535220241@stu.untar.ac.id">Khansa Maritza Ar-Rahmah</a></li>
                <li><a href="mailto:aliyah.535220243@stu.untar.ac.id">Aliyah Zahrah</a></li>
              </ul>
            </div>
            <div class="help">
              <h5>Help</h5>
              <p>Ada pertanyaan atau butuh bantuan lebih lanjut? Kami siap membantu! Jangan ragu untuk menghubungi tim kami untuk informasi tambahan seputar blog wisata Indonesia di TravelPedia.</p>
            </div>
            <div class="sitemap">
              <h5>Sitemap</h5>
              <p><a href="https://g.co/kgs/gYh9W5A" target="_blank">Universitas Tarumanagara</a></p>
            </div>
          </div>
          <div class="layar-dalam">
            <div class="copyright">&copy; 2024 TravelPedia</div>
          </div>
        </footer>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="javascript.js"></script>
  </body>
</html>
