<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
    <style>
      body {
        background-image: url("asset/pantai_wpp.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="layar-dalam">
        <div class="logo">
          <a href=""><img src="asset/logo4.png"/></a>
        </div>
        <div class="menu">
          <a href="#" class="tombol-menu">
            <span class="garis"></span>
            <span class="garis"></span>
            <span class="garis"></span>
          </a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="support">Support</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="team">Team</a></li>
            <li><a href="blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>          
      <div class="background"></div>
        <section id="team">

            <div class="layar-dalam">
              <br>
              <h3>Our Team</h3>
              <p class="ringkasan">
                Kami adalah tim yang dinamis dan profesional dengan keahlian yang beragam untuk memberikan hasil terbaik.
              </p>
              <br>
              <div class="tim">
                <div>
                  <img src="asset/aliyah.jpg" />
                  <h6>Aliyah Zahrah</h6>
                  <span>535220243</span>
                </div>
                <div>
                  <img src="asset/NAPNAP.jpg" />
                  <h6>Nafisya Sefa</h6>
                  <span>535220003</span>
                </div>
                <div>
                  <img src="asset/PUSPA.jpg" />
                  <h6>Puspa Indah</h6>
                  <span>535220035</span>
                </div>
              <div>
                <img src="asset/KHANSA.jpg" />
                <h6>Khansa Maritza</h6>
                <span>535220241</span>
            </div>
              </div>
            </div>
            
        </section>
      <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
      ></script>
      <script src="javascript.js"></script>
      </div>
  </body>
</html>
